body {
	padding-top: 20px;
	padding-left: 30px;
	background-color: #242;
	color: #ddd;
	font-family: helvetica, arial, sans-serif;
}

#board {
	margin-top: 30px;
}

#board td {
	width: 40px;
	height: 40px;
	background-color: #555;
	color: #555;
	text-align: center;
	font-size: 1.5em;
}

#board td.light {
	background-color: #ddd;
	color: #ddd;
}

#board td.selected {
	background-color: blue;
}

.red {
	color: #d00;
}

.black {
	color: black;
}

#scoreboard {
	margin-top: 20px;
	width: 320px;
	background-color: #222;
	color: #222;
}

#scoreboard th {
	background-color: #ddd;
}

#scoreboard td {
	width: 158px;
	background-color: #ddd;
	text-align: center;
}

#notice {
	margin-top: 20px;
	width: 314px;
	padding: 2px;
	border: 1px #222 solid;
	background-color: #ddd;
}