body {
	background: #252;
	color: #ddd;
	font-family: helvetica, arial, sans-serif;
	padding-top: 20px;
	padding-left: 30px;
}

#board {
}

#board td {
	width: 40px;
	height: 40px;
	background-color: #555;
	color: #555;
	text-align: center;
}

#board td.light {
	background-color: #ddd;
	color: #ddd;
}

.red {
	color: red;
}

.black {
	color: black;
}

#scoreboard {
	width: 320px;
	margin-top: 30px;
	background-color: #222;
	color: #222;
}

#scoreboard th {
	background-color: #ddd;
}

#scoreboard td {
	background-color: #ddd;
	width: 158px;
	text-align: center;
}